{% extends 'login.html.twig' %}

{% block container_content %}
<script>
$(document).ready(function(){
  $('#loginModal').modal();	
});

</script>
<div id="loginModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title lead">Area riservata</h4>
            </div>
            <form role="form" method="post" class="form" action="/ws/web/">
            <div class="modal-body">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <input name="username" type="text" class="form-control input-lg" placeholder="Username" />
                </div><br/>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <input name="password" type="password" class="form-control input-lg" placeholder="Password" />
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">LOGIN</button>
              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

{% endblock %}